@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove the spinner from Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
